<a
    class="inline-flex items-baseline px-4 py-2 w-full text-xs rounded hover:bg-gray-800 focus:outline-none focus:bg-gray-800 active:bg-gray-700 md:justify-center md:px-5 md:py-3 md:text-sm lg:bg-gray-800 lg:hover:bg-gray-700 lg:focus:bg-gray-700 lg:active:bg-gray-600"
    href="{{value}}"
    target="_blank"
>
  <span class="text-base">{{>icon icon}}</span>
  <span class="ml-2">{{display}}</span>
</a>
